name: generate barcode

on:
  workflow_dispatch:
    inputs:
      suite:
        description: 'Suite to run'
        required: true
        default: 'h3n2'

  push:
    branches:
      - main
  
jobs:
  # Get the list of folders where files have changed and generate a matrix
  # of jobs to run.
  generate-job-strategy-matrix:
    runs-on: ubuntu-latest
    outputs:
      job-strategy-matrix: ${{ steps.generate-matrix.outputs.job-strategy-matrix }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3.3.0
        with:
          fetch-depth: 0
      - name: Generate matrix
        id: generate-matrix
        run: |
          if [ "${{ github.event_name }}" = "workflow_dispatch" ]; then
            echo "job-strategy-matrix=[\"${{ github.event.inputs.suite }}\"]" >> $GITHUB_OUTPUT
            exit 0
          fi
          changed_folders=$(git diff --name-only ${{ github.event.before }} ${{ github.event.after }} | cut -d/ -f1 | uniq)
          echo "Changed folders: $changed_folders"
          matrix=$(echo $changed_folders | jq -R 'split(" ") | map(select(length > 0))')
          # remove duplicates and .github folder
          matrix=$(echo $matrix | jq -c 'unique | . - [""] - [".github"]')
          # convert to JSON string
          matrix=$(echo $matrix | jq -c .)
          echo "Matrix: $matrix"
          echo "job-strategy-matrix=$matrix" >> $GITHUB_OUTPUT
          
  my_job:
    if : ${{ !contains(needs.generate-job-strategy-matrix.outputs.job-strategy-matrix, '[]') }}
    needs: generate-job-strategy-matrix
    runs-on: ${{ matrix.os }}
    name: Run workflow
    strategy:
      matrix:
        os: [ubuntu-22.04]
        suite: ${{ fromJson(needs.generate-job-strategy-matrix.outputs.job-strategy-matrix) }}
    defaults:
      run:
        shell: bash -el {0}
    steps:
      - name: Checkout
        uses: actions/checkout@v3.3.0
      - name: Setup for conda
        uses: conda-incubator/setup-miniconda@v2
        with:
          activate-environment: freyja-${{ matrix.suite }}-pathogen
          environment-file: ${{ matrix.suite }}/env/conda_environment.yml
          mamba-version: "*"
          python-version: 3.8
          auto-activate-base: false
      - name: Run
        run: |
          conda activate freyja-${{ matrix.suite }}-pathogen
          cd ${{ matrix.suite }}
          bash preprocess.sh
      - name: Uploading folder as artifact
        if: ${{ failure() }}
        uses: actions/upload-artifact@v3
        with:
          name: ${{ matrix.suite }}-failed
          path: /home/runner/work/test_repo/
