name: generate barcode

on:
  workflow_dispatch:
  
jobs:
  my_job:
    name: Run workflow
    runs-on: ubuntu-22.04
    defaults:
      run:
        shell: bash -el {0}
    steps:
      - name: Checkout
        uses: actions/checkout@v3.3.0
      - name: Setup for conda
        uses: conda-incubator/setup-miniconda@v2
        with:
          activate-environment: freyja-h3n2-pathogen
          environment-file: h3n2_ha/env/conda_environment.yml
          mamba-version: "*"
          python-version: 3.8
          auto-activate-base: false
      - name: Run
        run: |
          conda activate freyja-h3n2-pathogen
          cd h3n2_ha
          bash preprocess.sh
      - name: Uploading folder as artifact
        if: ${{ failure() }}
        uses: actions/upload-artifact@v3
        with:
          name: frontend-coverage-${{ matrix.num_runs }}
          path: /home/runner/work/test_repo/
