on:
  workflow_dispatch:
  
jobs:
  my_job:
    name: Run workflow
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3.3.0
      - name: Setup for conda
        uses: conda-incubator/setup-miniconda@v2
        with:
          activate-environment: freyja-h3n2-pathogen
          environment-file: h3n2_ha/env/conda_environment.yml
          python-version: 3.8
          auto-activate-base: false
      - name: Run
        shell: bash {0}
        run: |
          cd h3n2_ha
          bash preprocess.sh
